---
layout: default
---
<div class="hero">
  {% if site.author.image and site.author.image != "" %}
  <img src="{{ site.author.image | relative_url }}" alt="{{ site.author.name }}" class="avatar">
  {% endif %}
  <h1>Hi, I'm {{ site.author.name | split: ' ' | first }} &#128075;</h1>
  <div class="intro">
    {{ content }}
  </div>
</div>

{% assign latest = site.posts.first %}
{% if latest %}
<section class="latest-post">
  <p class="section-label">Latest Post</p>
  {% include post-card.html post=latest %}
  <p class="view-all"><a href="{{ '/blog/' | relative_url }}">View all posts &rarr;</a></p>
</section>
{% endif %}
